<p style="color: green"><%= notice %></p>

<h1>Groups</h1>
<div class="row">
  <div class="col-12 col-md-3">
    <div class="mb-3">
      <%= link_to new_group_path, class: "btn btn-primary" do %>
        Create a group
      <% end %>
    </div>

    <% if @groups.present? %>
      <nav class="nav flex-column">
        <%= turbo_stream_from "groups" %>
      </nav>
    <% else %>
      <div class="text-muted">
        The are no groups
      </div>
    <% end %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the RailsChatTutorial!
      </h4>

      <p>
        We need to talk.
      </p>

      <hr />

      <p>
        You can create or join a group from the sidebar.
      </p>
    </div>
</div>
