<div class="ui segment rail-width">
  <%# <div class="ui left close rail">
    <div class="ui segment">
      Left Rail Content
    </div>
  </div> %>
  <div class="ui right attached rail">
    <div class="ui segment">
      Edward Odhiambo <hr>
      Edward Odhiambo <hr>
      Edward Odhiambo <hr>
      Edward Odhiambo <hr>
    </div>
  </div>
  <div class="chat-width">
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Dolor illo commodi nesciunt deserunt cum deleniti vitae earum 
        similique necessitatibus libero! Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Maxime assumenda excepturi ea illum debitis iusto, enim id beatae esse quo aut nesciunt 
        saepe nihil adipisci error voluptatibus nam culpa quam voluptatem, illo, iste dolorum odio 
        accusantium? Similique quisquam beatae sit provident officia recusandae veritatis repudiandae 
        dolore perspiciatis, dolores labore incidunt.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Dolor illo commodi nesciunt deserunt cum deleniti vitae earum 
        similique necessitatibus libero! Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Maxime assumenda excepturi ea illum debitis iusto, enim id beatae esse quo aut nesciunt 
        saepe nihil adipisci error voluptatibus nam culpa quam voluptatem, illo, iste dolorum odio 
        accusantium? Similique quisquam beatae sit provident officia recusandae veritatis repudiandae 
        dolore perspiciatis, dolores labore incidunt.
    </p>
  </div>
</div>